@model KanbanApp.Models.User

@{
    Layout = "_Layout";
}
<div class="profile-container">
    <h2>Профиль пользователя</h2>
    <div class="profile-email">
        <p>Email: user@example.com</p>
        <input type="email" class="email-input" placeholder="Привязать другую почту" />
    </div>
    <button class="button">Сбросить пароль</button>
    <button class="button">Удалить аккаунт</button>
    <button class="button">Выйти из аккаунта</button>
</div>
