.modal__background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.modal__window {
    box-sizing: border-box;
    padding: 29px;
    border: 1px solid #999;
    border-radius: 15px;
}

@media all and (min-width: 576px) {
    .modal__window {
        padding: 49px 79px 29px;
    }
}

.auth-form {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}


.auth-form__toggler,
.auth-form__icon,
.auth-form__checkbox {
    position: absolute;
    width: 18px;
    height: 18px;
}


.auth-form__toggler {
    cursor: pointer;
    right: 2px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.auth-form__icon {
    color: #666;
}

.auth-form__toggler:hover .auth-form__icon {
    color: #ccc;
}

.password-toggler {
    opacity: 0;
}

.auth-form__submit {
    cursor: pointer;
    border: 1px solid #ccc;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    color: #ccc;
    outline: none;
}

    .auth-form__submit:hover {
        background: #fff;
        border: 1px solid #fff;
        color: #232323;
    }

.auth-form__bottom {
    margin-top: 30px;
    font-size: 12px;
    color: #ddd;
    text-align: center;
}

    .auth-form__bottom a {
        color: #007bff;
    }

        .auth-form__bottom a:hover {
            color: #ddd;
        }

.auth-form__answer {
    max-width: 250px;
    word-wrap: break-word;
}
.text-danger {
    text-align: center;
}