.profile-icon {
    font-size: 50px;
    cursor: pointer;
    color: darkgrey;
}
    .profile-icon:hover {
       color: white; 
    }

.board {
    padding: 20px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
.boardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-direction: row;
}

.column {
    background: #444;
    border-radius: 8px;
    margin: 0 10px;
    padding: 10px;
    width: 350px;
    position: relative;
    display: inline-block;
}


.column-title {
    font-weight:bolder;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 300px;
}

.task {
    background: #555;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
    .task:hover {
        background: #666;
    }
.low-priority {
    background-color: #738e6a;
}
    .low-priority:hover {
        background-color: #829b7a;
    }

.middle-priority {
    background-color: #8e896a;
}
    .middle-priority:hover {
        background-color: #9b957a;
    }

.high-priority {
    background-color: #8e766a;
}
    .high-priority:hover {
        background-color: #9b837a;
    }

    .task .task-title {
        font-weight: bold;
    }

.add-buttons {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

    .add-buttons button {
        cursor: pointer;
        border: 2px solid #ccc;
        height: 50px;
        border-radius: 10px;
        background: transparent;
        color: #ccc;
        outline: none;
        padding: 10px 15px;
        margin: 5px;
    }

        .add-buttons button:hover {
            background: #fff;
            border: 2px solid #fff;
            color: #232323;
        }
        
    .add-buttons a {
        text-decoration: none;
        cursor: pointer;
        border: 2px solid #ccc;
        height: 50px;
        border-radius: 10px;
        background: transparent;
        color: #ccc;
        outline: none;
        padding: 10px 15px;
        margin: 5px;
    }

    .add-buttons a:hover {
        background: #fff;
        border: 2px solid #fff;
        color: #232323;
    }
    .add-buttons .delete:hover {
        background: #f7b5b5;
        border: 2px solid #f7b5b5;
        color: #232323;
    }
.jquery-modal .modal.createTask {
    position: fixed;
    top: 15%;
    left: 38%;
    width: 350px;
    height: 600px;
    background: #39393a;
    padding-top: 30px;
}
.jquery-modal .modal.generateLink {
    position: fixed;
    top: 15%;
    left: 38%;
    width: 350px;
    height: 250px;
    background: #39393a;
    padding-top: 30px;
}
.edit-task-link {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: auto;
}
.edit-task-link:hover {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: auto;
}