
.profile-icon {
    font-size: 50px;
    cursor: pointer;
    color: darkgrey;
}

    .profile-icon:hover {
        color: white;
    }

.participants {
    padding: 20px;
}

.participant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #444;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.participant-email {
    font-size: 16px;
}

.participant-buttons {
    display: flex;
}

    .participant-buttons button {
        cursor: pointer;
        border: 2px solid #ccc;
        height: 40px;
        border-radius: 10px;
        background: transparent;
        color: #ccc;
        outline: none;
        padding: 5px 10px;
        margin-left: 5px;
    }

        .participant-buttons button:hover {
            background: #fff;
            border: 2px solid #fff;
            color: #232323;
        }
        .participant-buttons button:hover {
            background: #f7b5b5;
            border: 2px solid #f7b5b5;
            color: #232323;
        }
