.profile-background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-container {
    box-sizing: border-box;
    padding: 29px;
    border: 1px solid #999;
    border-radius: 15px;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.profile-email {
    margin-bottom: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user-button {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ccc;
    height: 50px;
    border-radius: 10px;
    background: transparent;
    color: #ccc;
    outline: none;
    padding: 10px 15px;
    margin: 5px;
}

    .user-button:hover {
        background: #fff;
        border: 2px solid #fff;
        color: #232323;
    }
    .user-button.delete:hover {
        background: #f7b5b5;
        border: 2px solid #f7b5b5;
        color: #232323;
    }

.input-form__label-user {
    position: relative;
}

.current-email {
    text-align: center;
}
.email-highlight {
    font-weight: bold; 
    color: #007bff;
}

.user-buttons{
    display:contents;
}

.jquery-modal .modal.user {
    position: fixed;
    top: 30%;
    left: 41%;
    width: 350px;
    height: 185px;
    background: #39393a;
    padding-top: 30px;
}