@*

*@
@{
    Layout = "_Layout";
}
<header>
    <h1>Название Проекта</h1>
    <a href="/Users/UserProfile" class="profile-icon">
        <i class="la la-user-circle"></i>
    </a>
</header>

<div class="participants">
    <div class="participant">
        <div class="participant-email">participant1@example.com (наблюдатель)</div>
        <div class="participant-buttons">
            <button class="delete">Удалить</button>
            <button>Изменить роль</button>
        </div>
</div>