@model KanbanApp.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
<div class="profile-container">
    <h2>Профиль пользователя</h2>
    <div class="profile-email">
        <p>Ваш текущий email: user@example.com</p>
        <input type="email" class="email-input" placeholder="Привязать другую почту" />
        <button class="button">Привязать</button>
    </div>
    
    <button class="button">Сбросить пароль</button>
    <button class="button">Удалить аккаунт</button>
    <button class="button">Выйти из аккаунта</button>
</div>
